header {
  background-color: #f6d707;
}

body {
  margin: 0;
  font-family: georgia;
  font-size: 1rem;
}

p {
  margin: 0.75em;
  line-height: 1.5;
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 3em;
  text-align: center;
  color: #8d0963;
  margin: 0 0 0.25em 0;
}

h2 {
  font-family: 'Sigmar One', cursive;
  font-size: 2em;
  color: #8d0963;
  border-top: 4px solid #f6d707;
  padding: 0.5em 0.5em 0 0;
  margin: 0.75em;
}

h3 {
  font-family: 'Sigmar One', cursive;
  font-size: 1.5em;
  color: #8d0963;
  margin: 0.75em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0 0 1em 0;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a{
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #8d0963;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin: 0;
}

img {
  width: 100%;
}

figure {
  background-color: #fffec2;
  border: 2px solid #999533;
  border-radius: 8px;
  padding: 1em 1em 1em 1em;
}

figcaption {
  font-size: 11px;
  font-style: italic;
  text-align: center;
  padding: 0.25em 0 0 0;
}

.bigquote {
  font-size: 4em;
  color: #999533;
  font-style: italic;
  text-align: center;
  margin: 0;
}

blockquote {
  color: #999533;
  font-style: italic;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.5;
  margin: 0.75em;
}

.per100 {
  font-style: italic;
}

dl{
  margin: 0.75em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
  line-height: 2;
}

a {
  color: #8d0963;
}

a:hover {
  color: white;
  background-color: #999533;
}

footer {
  background-color: #f6d707;
  padding: 2em 2em 2em 2em;
  text-align: center;
}
